# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\workflow_git\interview-algorithms-questions\remove_duplicate_from_sorted_list\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
